#cache files for parsec
interface/.current_state


#celery files
celery*
interface/celery*

#current working dir
cwdpath.txt

#jupyter notebook
interface/scatterfittesting.ipynb

#accidentally added to dir
240224aaad_mayra/*
